@model DSED_FINAL.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address01)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address01)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address02)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address02)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address03)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address03)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPk">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
