@model DSED_FINAL.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierFkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierFkNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPk">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
@await Component.InvokeAsync("InvoiceDetails", new { invID = Model.IdPk })
</div>
