@model DSED_FINAL.Models.InvoiceDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Posted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvFkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvFkNavigation.FlightNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeciesFkNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeciesFkNavigation.Common)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
