@model IEnumerable<DSED_FINAL.Models.InvoiceDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Doa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.InvFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeciesFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvFkNavigation.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeciesFkNavigation.Common)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
